<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
    <title></title>
</head>
<header>
  <div class="nav">
    <h1>favorite things</h1>
    <div class="links">
      <p>about</p>
      <p>account</p>
      <p class="log">log out</p>
    </div>
  </div>
</header>
    <body>
      <div class="createButton">
          <a href="/things/new">
              Start a New Blog
          </a>
      </div>
        <div class="container">
            <% for (let i = 0; i < thing.length; i++) { %>
            <div class="<%=thing[i].name%>">
                  <img src="<%=thing[i].img; %>" alt="">
                  <a href="/things/<%=thing[i].id; %>"><h2><%=thing[i].name%></h2></a>
                  <div class="button">
                <a href="/things/<%=thing[i].id%>/edit">
                    <button type="button" name="button">EDIT</button>
                </a>
                <form action="/things/<%=thing[i].id;%>?_method=DELETE" method="POST">
                    <input name="button" type="submit" value="DELETE">
                </form>
                </div>
            </div>
            <% } %>
        </div>

    </body>
</html>
