<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index Page</title>
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=.50">
    </head>
    <body>
        <h6>INDEX</h6>
        <h1>FAVORITE THINGS</h1>
        <div class="container">
            <%for (let i = 0; i < thing.length; i++) { %>
            <div class="<%=thing[i].name%>">
                <h2><%=thing[i].name%></h2>
                <a href="/shop/<%=thing[i].id%>">
                    <img src=<%=thing[i].img%> alt="<%=thing[i].name%>"/>
                </a>
                <a href="/show/<%=thing[i].id%>/edit">
                    <button type="button" name="button">EDIT</button>
                </a>
                <form action="/things/<%=clothes[i].id;%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>

            </div>
            <% } %>
        </div>
        <div class="createButton">
            <a href="/things/new">
                CREATE BLOG
            </a>
        </div>
    </body>
</html>
