<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/show.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
        <title></title>
    </head>
    <body>
      <div class="container">
        <h1>Blog Show Page</h1>
      </div>
      <div class="display">
        <div class="card">
        <img src="<%=thing.img; %>" alt="">
        <div class="text">
          Name: <%=thing.name; %>
         Description: <%=thing.description; %>
        Link: <%=thing.link; %>
        Likes: <%=thing.likes; %>
          </div>
            </div>
            <form action="/things/<%=thing.id%>/likes?_method=PUT" method="POST">
                <input type="submit" value="LIKES" />
            </form>
        <nav>
            <a href="/things">Back to Blog Index</a>
        </nav>
      </div>

    </body>
</html>
