<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/show.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
        <title></title>
    </head>
    <header>
      <div class="nav">
        <a href="/things"><h1>favorite things</h1></a>
        <div class="links">
          <p>about</p>
          <p>account</p>
          <p class="log">log out</p>
        </div>
      </div>
    <body>
      <h2><%=thing.name; %></h2>
      <div class="container">
      <div class="sidebar"><img src="<%=thing.img; %>" alt=""></div>
        <div class="text">
         <h3><%=thing.description; %></h3>
         <a href="<%=thing.link; %>"><h3>click here for more</h3></a>
      <form action="/things/<%=thing.id%>/buy?_method=PUT" method="POST">
          <input type="submit" value="LOVE" />
      </form>
      <h3><%=thing.likes; %></h3>
          </div>
            </div>
        <nav>
            <a href="/things"><h3>Back to Home Page</h3></a>
        </nav>
      </div>
</div>
    </body>
</html>
