<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/show.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
        <title></title>
    </head>
    <header>
      <div class="nav">
        <h1>favorite things</h1>
        <div class="links">
          <p>about</p>
          <p>account</p>
          <p class="log">log out</p>
        </div>
      </div>
    <body>
      <div class="container">
        <h2>Blog Show Page</h2>
      </div>
      <div class="display">
        <div class="card">
        <img src="<%=thing.img; %>" alt="">
        <div class="text">
          Name: <%=thing.name; %>
         Description: <%=thing.description; %>
      <a href="<%=thing.link; %>">click here for more</a>
          </div>
            </div>
            <form action="/things/<%=thing.id%>/buy?_method=PUT" method="POST">
                <input type="submit" value="LOVE" />
            </form>
            <%=thing.likes; %>
        <nav>
            <a href="/things">Back to Home Page</a>
        </nav>
      </div>

    </body>
</html>
